<h3>Edit Blog </h3>

<%= form_with model: @blog, method: :patch do |entry| %>

    <%= entry.label :title %>
    <%= entry.text_field :title %>

    <br>
    <%= entry.label :content %>
    <%= entry.text_field :content %>

    <br>
    <%= entry.submit 'Edit Blog'%>
    
    <% end %>

    <p>Back to <%= link_to 'All the Blogs!', blogs_path %></p>